@page
@model Character_Creator.Pages.CreateCharacterModel
@{
}

<div class="row">
    <div class="col-md-8 ms-auto rounded boarder p-3">
        <h2 class="text-center mb-5">New Character</h2>


        @if (Model.errorMessage.Length > 0)
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>@Model.errorMessage</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        @if(TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success">
                @TempData["SuccessMessage"]
            </div>
        }



        <form method="post">
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Name</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Character.Name">
                    <span asp-validation-for="Character.Name" class="danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Race</label>
                <div class="col-sm-8">
                    <select class="form-select" asp-for="Character.Race"> 
                        <option value="Human">Human</option>
                        <option value="Night Elf">Night Elf</option>
                        <option value="Dwarf">Dwarf</option>
                        <option value="Gnome">Gnome</option>
                        <option value="Orc">Orc</option>
                        <option value="Troll">Troll</option>
                        <option value="Tauren">Tauren</option>
                        <option value="Undead">Undead</option>
                    </select>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Class</label>
                <div class="col-sm-8">
                    <select class="form-select" asp-for="Character.Class">
                        <option value="Druid">Druid</option>
                        <option value="Hunter">Hunter</option>
                        <option value="Mage">Mage</option>
                        <option value="Paladin">Paladin</option>
                        <option value="Priest">Priest</option>
                        <option value="Rogue">Rogue</option>
                        <option value="Shaman">Shaman</option>
                        <option value="Warlock">Warlock</option>
                        <option value="Warrior">Warrior</option>
                    </select>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Level</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Character.Level">
                    <span asp-validation-for="Character.Level" class="danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="offset-sm-4 col-sm-4 d-grid">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div class="col-sm-4 d-grid">
                    <a class="btn btn-outline-primary" href="/Index" role="button">Back</a>
                </div>
            </div>

        </form>


    </div>

</div>